# macOS
.DS_Store

# Gradle
.gradle/
**/build/
local.properties

# Xcode user data
*.xcuserstate
Pipit.xcodeproj/project.xcworkspace/xcuserdata/
Pipit.xcodeproj/xcuserdata/

# Generated iOS local builds
iosApp/.build/
